doctype html
html
  head
    //google scripts
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-44408252-2')
    script(src='/javascripts/googleanalytics.js')
    //google verify metatag
    meta(name='google-site-verification' content='Ed9o2vC5UsM8kA_5awz0IdxyEcaW_7CKl-iSlG50a4A')
    //our own css stylesheet, given as variable from router
    link(rel='stylesheet', href=style)
    //favicons are listed in seperate file in this directory
    include favicon.txt
    title= title    
  body

    div(id="name")
        p= "Russell Loewe"
        p= "russloewe@gmail.com"
    div(id="icons")
        ul
            li
                a(href='https://github.com/russloewe')
                    img(src='https://' + sitename + '/images/icons/github.png' width='16px' height='16px')
            li
                a(href='https://www.linkedin.com/in/russell-loewe-832bb6171/' )
                    img(src='https://' + sitename + '/images/icons/linkedin.png' width='16px' height='16px')
    div(id="title-text")
        h1= title
    div(id="userbox")
    div(id="navbar")
    div(id='message') 
        span= message
    block content
    script(src="/javascripts/bundle.js")
