doctype html
html
  head
    script(src='https://www.googletagmanager.com/gtag/js?id=UA-44408252-2')
    script(src='/javascripts/googleanalytics.js')
    meta(name='google-site-verification' content='Ed9o2vC5UsM8kA_5awz0IdxyEcaW_7CKl-iSlG50a4A')
    title= title
    link(rel='stylesheet', href=style)
    include favicon.txt
  body

    div(id="name")
        p= "Russell Loewe"
        p= "russloewe@gmail.com"
    div(id="icons")
        ul
            li
                a(href='https://github.com/russloewe')
                    img(src='http://' + sitename + '/images/icons/github.png' width='16px' height='16px')
            li
                a(href='https://www.linkedin.com/in/russell-loewe-832bb6171/' )
                    img(src='http://' + sitename + '/images/icons/linkedin.png' width='16px' height='16px')
    div(id="title-text")
        h4= title
    div(id="userbox")
    div(id="navbar")
    block content
    script(src="/javascripts/bundle.js")
